:import('../../styles/constants.css') {
  --white: --white;
  --grey-lightest: --grey-lightest;
  --grey: --grey;
  --grey-light: --grey-light;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 5px;
}

.table th {
  text-align: left;
  padding: 15px 0;
  border-bottom: 2px solid --grey-light;
}

.table td {
  border-bottom: 1px solid --grey-light;
}

.table tr:nth-child(odd) td {
  background-color: --grey-lightest;
}

.actionCell {
  text-align: center;
  width: 60px;
}
